/*-----------------------------------------------------------------------------------

 Plugin Name: Sky Scanner widget
 Plugin URI: https://codecanyon.net/user/skyengineers/
 Description: Simple Flight Search Widget
 Author: SkyEngineers
 Author URI: https://codecanyon.net/user/skyengineers/
 Version: 1.0

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------

 == Table Of Content

     01 Background color for input
     02 Display off for not checked radio-button
 
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
     [ 01 Background color for input ]
-----------------------------------------------------------------*/
div[class*="AddParamRow_AddParamRow__addRow"] {
     background-color: #fff;
}

/* ----------------------------------------------------------------
     [ End Background color for input ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 02 Display off for not checked radio-button ]
-----------------------------------------------------------------*/
input[class^="bpk-radio__input"][type="radio"]:checked::before {
     display: none;
}

/* ----------------------------------------------------------------
     [ End display off for not checked radio-button ]
-----------------------------------------------------------------*/